@mixin border-radius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}

@mixin borda-arredondada {
  box-shadow: 0 2px 6.65px 0.35px rgba(0,0,0.3)
}

@mixin full {
  height: 100%;
  width: 100%;
}

@mixin flex {
  display: flex;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}
