@import "./mixins";
@import "./mixins";  

$root: "../img/";
$cinza : lightgray;
// background: url('#{$root}meetup.jpg');
$tamanho-fonte :12px;

body , html {
  @include full;
  background-color: $cinza;
}

.box {
  background-color: $cinza;
  height: 400px;
  width: 500px;
  background-color: yellow;
  @include flex;
  @include flex-center;
  justify-content: flex-start;
  @include border-radius(20px);
  }

  .message {
  border: 1px solid red;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
  background-color: lightgreen;
}

.box2 {
  // background: url('#{$root}1.png');
  height: 50%;
  width: 50%;
  background-size: 100% 100%;
  border: 1px solid black;
}

.box3 {
  height: 500px;
  width: 500px;
  background-color: gray;
  z-index: 3;
  @include flex;
  @include flex-center;
  .box-4 {
    height: 400px;
    width: 400px;
    background-color: orange;
    z-index: 2;
    @extend .box3;

    .box-5{
      width: 300px;
      height: 300px;
      background-color: blue;
      z-index: 1;
    }
  }
}
