@import "mixins";
@import "colorFunctions";


//MIXIN
@mixin borda-arredondada {
  -webkit-box-shadow: 10px 10px 15px 0.35px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 15px 0.35px rgba(0,0,0,0.3);
}

@mixin border-radius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}

//EXTEND
.message {
  border: 1px solid red;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

//interpolation
$root: "../img/";

.box {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  background-color: $cor-vermelha-claro;
}

.box2{
  height: 350px;
  width: 500px;
  border: 1px solid black;
  // background: url('#{$root}meetup.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// .botao {
//   @include borda-arredondada;
// }

.quadrado {
  @include border-radius(20px);
  height: 200px;
  width: 200px;
  background-color: $cor-vermelha-escuro;
}






